asn1crypto==0.24.0
base58
beautifulsoup4==4.5.3
certifi==2019.3.9
cffi==1.12.2
cfscrape
chardet==3.0.4
cheroot>=6.3.3
click
clr>=1.0.3
codecov==2.0.15
colorama
cryptography==2.6.1
django
dlib
dnslib
emailprotectionslib>=0.8.2
facebook-sdk
face_recognition
Flask==1.0.2
pyftpdlib
GitPython==2.1.1
idna==2.8
-i https://pypi.python.org/simple
impacket
importlib==1.0.4
ipdb
ipython
itsdangerous==0.24
Jinja2
ldap3>=2.5
ldapdomaindump
MarkupSafe==1.0
matplotlib
netifaces
pexpect
pillow
pprint
progressbar
psutil>=5.4.3
pyasn1
pycparser==2.19
pycrypto
pycryptodomex
pyopenssl==19.0.0
pytesseract
pytest-cov==2.5.1
python-docx
pytube
pyvirtualdisplay
qrcode
requests
rjsmin
scikit-image
scikit-learn
scipy
secretstorage
selenium
simplejson
six==1.12.0
slackclient
tabulate>=0.8.1
termcolor==1.1.0
terminaltables
texttable==0.8.7
tldextract
tqdm
truffleHogRegexes==0.0.4
unittest2==1.1.0
Werkzeug==0.15.3
wsgidav>=2.4.1
